.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.navigation span {
    display: block;
    margin-right: 10px;    
}

.navigation {
    display: flex;
    justify-content: space-around;
}

.cart {
    display: flex;
    align-self: end;
}